.buscador {
    padding: 10%;
}

.btnCalendar {
    padding-left: 2%;
}

.tituloConsultas {
    text-align: center;
    margin-top: 10%;

}

.cardsPrecios .row {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background-color: #FFFFFF; /* White background for cards */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-title {
    color: #53599A;
}

.card-text {
    color: #068D9D;
}

.btn {
    background-color: #068D9D;
    border: none;
}

.btn:hover {
    background-color: #6D9DC5;
}

.carrusel {
    padding: 5%;
}

.cardsPrecios {
    padding: 5%;
}

.sobreNosotros {
    padding: 5%;
}

.footerContainer {
    padding: 5%;
}

.card {
    width: 400px;
    border: none;
    border-radius: 10px;

    background-color: #fff;
}



.stats {

    background: #f2f5f8 !important;

    color: #000 !important;
}

.articles {
    font-size: 10px;
    color: #a1aab9;
}

.number1 {
    font-weight: 500;
}

.followers {
    font-size: 10px;
    color: #a1aab9;

}

.number2 {
    font-weight: 500;
}

.rating {
    font-size: 10px;
    color: #a1aab9;
}

.number3 {
    font-weight: 500;
}

