{% extends 'core/base.html' %}
{% block title %}Portafolio{% endblock %}
{%block background %}{%load static%}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}
{% block header %}
<h1>Portafolio</h1>
<span class="subheading">Currículo</span>
{% endblock %}
{% block content %}

{%for project in projects%}
<!-- Proyecto -->
<div class="row project">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid" src="{{project.image.url}}" alt="">
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading title">{{project.title}}</h2>
    <p>{{project.description}}</p>
    {% if project.link != null%}
    <p><a href="{{project.link}}" target="_blank">Mostrar más</a></p>
    {% endif %}
    <!--<p><a href="http://google.com">Más información</a></p>-->
  </div>
</div>
{% endfor %}

<hr>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Registrar nuevo evento
</button>

<!-- Modal -->
<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Formatos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Registrar nuevo evento</h2>
        <p>Seleccione el tipo de evento que desea registrar</p>
        <!-- Collapse -->
        <p class="d-inline-flex gap-1">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCita"
            aria-expanded="false" aria-controls="collapseExample">
            Cita
          </button>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2"
            aria-expanded="false" aria-controls="collapseExample">
            Button with data-bs-target
          </button>
        </p>
        <div class="collapse" id="collapseCita" data-bs-parent="#exampleModal">
          <div class="card card-body">
            <!-- Formulario cita medica-->
            <form>
              <div class="mb-3">
                <label for="doctorNombre" class="form-label">Doctor:</label>
                <input type="text" class="form-control" id="doctorNombre" placeholder="Nombre del doctor">
              </div>
              <div class="mb-3">
                <label for="doctorEspecialidad" class="form-label">Especialidad del doctor:</label>
                <input type="text" class="form-control" id="doctorEspecialidad" placeholder="Especialidad">
              </div>
              <div class="mb-3">
                <label for="tipoConsulta" class="form-label">Tipo de Consulta:</label>
                <select class="form-select" id="tipoConsulta">
                  <option selected disabled>Selecciona el tipo de consulta</option>
                  <option value="consulta general">Consulta general</option>
                  <option value="seguimiento">Seguimiento</option>
                  <option value="chequeo">Chequeo</option>
                  <!-- Agrega más opciones según sea necesario -->
                </select>
              </div>
              <div class="mb-3">
                <label for="observaciones" class="form-label">Observaciones:</label>
                <textarea class="form-control" id="observaciones" rows="3"
                  placeholder="Observaciones adicionales"></textarea>
              </div>
              <!-- Sección para generar receta -->
              <div id="generarReceta" style="display: none;">
                <hr>
                <h3>Generar Receta</h3>
                <div class="mb-3">
                  <label for="medicamento" class="form-label">Nombre y dosificación del medicamento:</label>
                  <input type="text" class="form-control" id="medicamento"
                    placeholder="Nombre y dosificación del medicamento">
                </div>
                <div class="mb-3">
                  <label for="instrucciones" class="form-label">Instrucciones de dosificación:</label>
                  <textarea class="form-control" id="instrucciones" rows="3"
                    placeholder="Instrucciones de dosificación"></textarea>
                </div>
                <div class="mb-3">
                  <label for="duracion" class="form-label">Duración del tratamiento:</label>
                  <input type="datetime-local" class="form-control" id="duracion">
                </div>
                <div class="mb-3">
                  <label for="frecuencia" class="form-label">Frecuencia de la dosificación:</label>
                  <input type="time" class="form-control" id="frecuencia">
                </div>
                <div class="mb-3">
                  <label for="indicaciones" class="form-label">Indicaciones especiales:</label>
                  <textarea class="form-control" id="indicaciones" rows="3"
                    placeholder="Indicaciones especiales"></textarea>
                </div>
                <!-- Puedes agregar más campos de medicamentos según sea necesario -->
              </div>
              <!-- Fin de la sección para generar receta -->
              <div class="mb-3">
                <label for="imagen" class="form-label">Anexar imagen:</label>
                <input class="form-control" type="file" id="imagen">
              </div>
            </form>
            <!-- Fin del formulario cita medica-->
            <!-- Botón para mostrar/ocultar la sección de generar receta -->
            <button type="button" class="btn btn-primary mb-3" onclick="toggleGenerarReceta()">Agregar Receta</button>
          </div>
        </div>
        <div class="collapse" id="collapseExample2" data-bs-parent="#exampleModal">
          <div class="card card-body">
            2 Some placeholder content for the collapse component. This panel is hidden by default but revealed when the
            user activates the relevant trigger.
          </div>
        </div>
        <!-- End Collapse -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->

<div class="form-check">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col">Resgistro</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <th scope="row">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
</div>
</th>
<td>Cita medica</td>
<td id="lastVisitDate">22/04/24</td>
<td class="actions">
  <i class="bi bi-trash3"></i>
  <i class="bi bi-info-circle-fill"></i>
  <i class="bi bi-share-fill"></i>
</td>
</tr>
</tbody>
</table>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var collapseList = document.querySelectorAll('.collapse');
    var collapseArray = Array.prototype.slice.call(collapseList);

    collapseArray.forEach(function (collapseEl) {
      collapseEl.addEventListener('show.bs.collapse', function () {
        collapseArray.filter(function (otherCollapse) {
          return otherCollapse !== collapseEl;
        }).forEach(function (otherCollapse) {
          otherCollapse.classList.remove('show');
        });
      });
    });
  });
</script>
<script>
  function toggleGenerarReceta() {
    var generarReceta = document.getElementById("generarReceta");
    if (generarReceta.style.display === "none") {
      generarReceta.style.display = "block";
    } else {
      generarReceta.style.display = "none";
    }
  }
</script>
{% endblock %}