[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.4"
django-ckeditor = "==6.7.1"
pillow = "==10.3.0"
pylint = "==3.1.0"
pylint-django = "==2.5.5"
pylint-celery = "==0.3"
asgiref = "==3.8.1"
astroid = "==3.1.0"
bcrypt = "==4.1.2"
cachecontrol = "==0.14.0"
cachetools = "==5.3.3"
certifi = "==2024.2.2"
cffi = "==1.16.0"
charset-normalizer = "==3.3.2"
colorama = "==0.4.6"
cryptography = "==42.0.5"
dill = "==0.3.8"
django-js-asset = "==2.2.0"
firebase-admin = "==6.5.0"
google-api-core = "==2.18.0"
google-api-python-client = "==2.127.0"
google-auth = "==2.29.0"
google-auth-httplib2 = "==0.2.0"
google-cloud-core = "==2.4.1"
google-cloud-firestore = "==2.16.0"
google-cloud-storage = "==2.16.0"
google-crc32c = "==1.5.0"
google-resumable-media = "==2.7.0"
googleapis-common-protos = "==1.63.0"
grpcio = "==1.62.2"
grpcio-status = "==1.62.2"
httplib2 = "==0.22.0"
idna = "==3.7"
isort = "==5.13.2"
mccabe = "==0.7.0"
msgpack = "==1.0.8"
platformdirs = "==4.2.1"
proto-plus = "==1.23.0"
protobuf = "==4.25.3"
pyasn1 = "==0.6.0"
pyasn1-modules = "==0.4.0"
pycparser = "==2.22"
pyjwt = "==2.8.0"
pylint-plugin-utils = "==0.8.2"
pyparsing = "==3.1.2"
requests = "==2.31.0"
rsa = "==4.9"
sqlparse = "==0.5.0"
tomlkit = "==0.12.4"
tzdata = "==2024.1"
uritemplate = "==4.1.1"
urllib3 = "==2.2.1"

[dev-packages]

[requires]
python_version = "3.12"
