{% extends "base.html" %}
{% load static %} 
{% block titulo %} Login Paciente {% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'Paciente/css/styleRegistroPaciente.css' %}">

<main class="form-signin w-100 m-auto">
    <div class="container-fluid px-1 py-5 mx-auto ">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <img src="{% static 'Paciente/imgs/logo.png' %}" class="rounded mx-auto d-block" height="200" width="200">

                <div class="card">
                    <h5 class="text-center mb-4">Registro Usuario</h5>
                    <form name="" class="form-card" action="{% url 'registro' %}" method="POST">
                        {% csrf_token %}
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-12 flex-column d-flex">
                                <label class="form-control-label px-3">CURP</label>
                                {{ form.curp }}
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-12 flex-column d-flex">
                                <label class="form-control-label px-3">Correo Electronico</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-12 flex-column d-flex">
                                <label class="form-control-label px-3">Contraseña</label>
                                {{ form.password }}
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-12 flex-column d-flex">
                                <label class="form-control-label px-3">Confirmar Constraseña</label>
                                <input type="password" name="confirm" id="">
                            </div>
                        </div>
                        <br><br>
                        <div class="row justify-content-center">
                            <div class="form-group col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Doy mi consentimiento para que MedBase trate mis datos de salud para usar los servicios. Saber más
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="form-group col-12">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
