 /* Estilos globales */
 body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #333;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Estilos responsive */
body {
    overflow-x: hidden;
}

@media (max-width: 767px) {
    .header-area {
        top: 0px;
    }
    .header-area .main-nav .logo h1 {
        border-right: none;
    }
    .main-banner .item {
        padding: 80px 30px 120px 30px !important;
    }
    .main-banner .owl-nav {
        left: 30px !important;
    }
    .event_filter {
        padding: 15px 20px;
    }
    .event_filter li {
        display: inline-block;
        margin: 0px 10px;
    }
}

.title {
    color: #5d7eeb;
    font-weight: bold;
}


/* Estilos para el formulario de contacto */
.contact-us {
    margin-top: 30px;
    position: relative;
    padding: 50px 0px;
}

.contact-us:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 65%;
    height: 100%;
    background-color: #f1f0fe;
    content: '';
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}

.contact-us .section-heading {
    margin-right: 110px;
    margin-bottom: 0px;
}

.contact-us .section-heading p {
    margin-top: 50px;
}

#contact-form {
    border-radius: 25px;
    padding: 20px;
    background-color: #5d7eeb;
    position: relative;
    z-index: 1;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(249, 235, 255, 0.15);
    border: none;
    outline: none;
    font-weight: 300;
    padding: 0px 20px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: #fff;
}

#contact-form button {
    border: none;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    padding: 0px 25px;
    border-radius: 25px;
    color: #5d7eeb;
    transition: all .4s;
    position: relative;
    z-index: 3;
}

#contact-form button:hover {
    opacity: 0.8;
}

#contact-form label{
    color: #fff;
    font-weight: bold;
}