{% extends "base.html" %}
{% block titulo %} Login Paciente {% endblock %}

{% block contenido %}

<main class="form-signin w-100 m-auto">
    <div class="container-fluid px-1 py-5 mx-auto ">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <img src="/imgs/logo-removebg.png" class="rounded mx-auto d-block" height="300" width="300">

                <div class="card">
                    <h5 class="text-center mb-4">Registro Usuario</h5>
                    <form name="calidad" class="form-card" action="#" method="#">
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-12 flex-column d-flex">
                                <label class="form-control-label px-3">Nombre(s)</label>
                                <input type="text" name="nombre">
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Apellido Paterno</label>
                                <input type="text" name="apellidoPaterno">
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Apellido Materno</label>
                                <input type="text" name="apellidoMaterno">
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Fecha de Nacimiento</label>
                                <input class="text-center" type="date" name="nacimiento" id="">
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Genero<span class="text-danger"> *</span></label>
                                <select class="form-select text-center" name="genero" id="unidadnegocio">
                                    <option value="Hombre">Hombre</option>
                                    <option value="Mujer">Mujer</option>
                                    <option value="neutro">Prefiero no decirlo</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Calle</label>
                                <input class="" type="text" name="calle" id="">
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Numero</label>
                                <input class="" type="text" name="numero">
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Municipio</label>
                                <input type="text" name="municipio" id="">
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Estado</label>
                                <input type="text" name="estado" id="">
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-12 flex-column d-flex">
                                <label class="form-control-label px-3">CP.</label>
                                <input type="text" name="codigoPostal" id="">
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">Cajas<span class="text-danger"> *</span></label>
                                <input class="text-center" type="number" name="Cajas" id="">
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label class="form-control-label px-3">No. Bins<span class="text-danger">
                                        *</span></label>
                                <input class="text-center" type="number" name="Bins" readonly id="Bins">
                            </div>
                        </div>
                        <br><br>
                        <div class="row justify-content-center">
                            <div class="form-group col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Doy mi consentimiento para que MedBase trate mis datos de salud para usar los servicios. Saber más
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="form-group col-12">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}